{% extends "base.html" %} 
{% load static %}

{% block tab_title %}Home{% endblock %}
{% block title%}Home{% endblock %} 

{% block head%}<link href="{% static 'css/home.css' %}?version=1" rel="stylesheet" />{% endblock %} 

{% block content %}
  <div class="productList row">
    {% for product in products %}
    <div class="card col-6 col-md-4 col-lg-3">
      <a href="{% url 'app:product_detail' product.id %}" class="text-decoration-none text-dark">
        <img
          src="{{ product.image.url }}"
          class="card-img-top"
          alt="Product Image"
        />
        <div class="card-body">
          <p class="product-name">{{ product.brand }} - {{ product.name }}</p>
          <p>US$ 9.29</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
{% endblock %}
